[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
EnvironmentFile=-/etc/etcd/etcd.conf
User=etcd
# set GOMAXPROCS to number of processors
ExecStart=/usr/bin/etcd \
--name etcd-3 \
--data-dir /var/lib/etcd/default.etcd \
--initial-advertise-peer-urls http://192.168.205.53:2380 \
--listen-peer-urls http://192.168.205.53:2380 \
--listen-client-urls http://192.168.205.53:2379,http://127.0.0.1:2379,http://192.168.205.53:4001 \
--advertise-client-urls http://192.168.205.53:2379,http://192.168.205.53:4001 \
--initial-cluster-token etcd-cluster-1 \
--initial-cluster etcd-3=http://192.168.205.53:2380,etcd-2=http://192.168.205.52:2380,etcd-1=http://192.168.205.51:2380 \
--initial-cluster-state new \
--heartbeat-interval 1000 \
--election-timeout 5000
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
